@font-face {
    font-family:Cuprum;
    src: url(../"fonts/web/cuprum.woff2") format("woff2"),
         url(../"fonts/web/cuprum.woff") format("woff"); 
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family:Cuprum;
    src: url(../"fonts/web/cuprumitalic.woff2") format(woff2),
         url(../"fonts/web/cuprumitalic.woff") format(woff);
    font-weight: italic;
    font-style: italic;
  }

@font-face {
    font-family:Cuprum;
    src: url(../"fonts/web/cuprumbold.woff2") format("woff2"),
         url(../"fonts/web/cuprumbold.woff") format("woff");
    font-weight: bold;
    font-style: bold;
        } 
@font-face {
    font-family:PTSans;
    src: url(../"fonts/web/ptsans.woff2") format("woff2"),
         url(../"fonts/web/ptsans.woff") format("woff");
    font-weight: normal;
    font-style: normal;

@font-face {
    font-family:PTSans;
    src: url(../"fonts/web/ptsansbold.woff2") format("woff2"),
         url(../"fonts/web/ptsansbold.woff") format("woff");
    font-weight: bold;
    font-style: bold;
  


html,
body {
font-family: "Cuprum", "PTSans"

}

.page-header{
  background:lightslategray;
}
.page-header-top{
  background:lightblue;
 }

.page-header-top .container {
  background:coral;
  margin: 0 auto ;
  width:940px;
  display:flex;
  flex-direction:row;
  justify-content:space-between;

}

.page-header-top .container .search {
  flex:2;
}



