@font-face {
    font-family:Cuprum;
    src: url(../fonts/Cuprum/Cuprum-Bold.ttf);
    font-weight: bold;
  }
@font-face {
    font-family:Cuprum;
    src: url(../fonts/Cuprum/Cuprum-Italic.ttf);
    font-weight: italic;
  }

@font-face {
    font-family:Cuprum;
    src: url(../fonts/Cuprum/Cuprum-Regular.ttf);
    }



html,
body {
font-family: Cuprum;

}




