@font-face {
    font-family: Cuprum;
    src: url("../fonts/cuprum.woff2") format("woff2"),
         url("../fonts/cuprum.woff") format("woff"); 
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: Cuprum;
    src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
         url("../fonts/cuprumbolditalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
  }

@font-face {
    font-family: Cuprum;
    src: url("../fonts/cuprumitalic.woff2") format("woff2"),
         url("../fonts/cuprumitalic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
  }

@font-face {
    font-family: Cuprum;
    src: url("../fonts/cuprumbold.woff2") format("woff2"),
         url("../fonts/cuprumbold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  } 

@font-face {
    font-family: PTSans;
    src: url("../fonts/ptsans.woff2") format("woff2"),
         url("../fonts/ptsans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: PTSans;
    src: url("../fonts/ptsansbold.woff2") format("woff2"),
         url("../fonts/ptsansbold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }
 
body {
 margin: 0;
 padding: 0;
 font-family: "Cuprum", "PTSans", "Arial", sans-serif;
 font-size: 17px;
 line-height: 18px;
 font-weight: 500;


}
.body-container {
  margin:0 auto;
  min-width:960px;
}
a {
 text-decoration: none; 
}

.page-header-top a {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.main-tehnomart-logo {
  background-color: #ee3643;
}

.main-tehnomart-logo:hover {
  background-color: #ca2c37;
}

.main-tehnomart-logo:focus {
  background-color: #ba2732;
}

.search {
  font-size: 17px;
  line-height: 18px;
  background-color: #293449;
}

.search:hover {
  background-color: #212a3a;
  opacity: 0.5;
}

.search:focus {
  background-color: #ffffff;
  color: #000000;
  font-size: 17px;
  line-height: 18px;
}
 
.cart .checkout {
  background-color: #63a63e;
}

.cart .basket-full {
  background-color: #ee3643;
}

.cart .checkout:hover {
  background-color: #5fbb2d;
}

.cart .checkout:focus {
  background-color: #518534;
}

.cart .bookmarks:hover,
.cart .basket:hover {
  background-color: #212a3a;
}

.cart .bookmarks:focus,
.cart .basket:focus {
  background-color: #161d29;
}

.page-title {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.contacts .phone {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.contacts span {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}
.account .account {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.account .account:focus {
  color: rgba(0,0,0,0.3);
}

.account .my-orders,
.account .personal-area {
  text-decoration: underline;
  color: #32425c
}
.account .my-orders:hover {
  color: #ee3643;
}

.account .personal-area:hover {
  color: #ee3643;
}

.modal-login a {
  font-size: 21px;
  line-height: 21px;  
  color: #000000; 
}

.modal-login .login:hover {
  color: #ee3643;
}

.modal-login .login:focus {
  color: rgba(0,0,0,0.3)   
}

.modal-login .registration:hover {
  color: #ee3643;
}

.modal-login .registration:focus {
  color: rgba(0,0,0,0.3) 
}  

.site-navigation {
  list-style: none;
}

.site-navigation a {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}
 
.breadcrumbs {
  list-style: none;
}
.breadcrumbs {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  
}
.page-title-catalog {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  background-color: #f2f6f8;
  text-transform: uppercase;
}

.about-company h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-company p {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about-company .delivery {
  font-size: 18px;
  line-height: 20px;
  list-style: none;
}

.company-info {
  
  width: 80px;
  padding: 10px 30px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
 }

.about-contacts h2 {
  font-size: 30px;
  line-height: 30px; 
  text-transform: uppercase;
}

.about-contacts p {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
}

.adress {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.adress a {
  color: #f1f5f7;
}
 
.footer-nav-white,
.footer-nav-gold {
  list-style: none;
}

.footer-nav-white a {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.footer-nav-gold a {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180; 
}

.footer-social p {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-copyright b {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-copyright a {
  font-size: 16px;
  line-height: 18px;
  color:#ffd180;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-family: "PTSans" ,"Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}
/** доработать изображение при наведении и блокировки **/
.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
}

.filter-input:disabled + label {
  color: rgba(0,0,0,0.4);
  opacity: 0.5;
}

.catalog-list {
  list-style: none;
}

.catalog a {
  text-decoration: none;
  width: 700px;
  margin: 20px auto;
}

.catalog-items .row {
  margin-left: -20px;
}

.catalog-item {
  position: relative;
  display: inline-block;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ccc;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-items {
  font-size: 0;
}

.catalog-item {
  font-size: 16px;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item .button-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.button-container .button-buy,
.button-container .button-bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.button-container .button-bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .button-container {
  display: none;
}

.catalog-item:hover .button-container {
  display: block;
}

.catalog-item .image {
  width: 218px;
  height: 168px;
}

.catalog-item .image img {
   max-width: 100%;
}

.catalog-item .title {
  font-family: "PTSsans" ,"Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.catalog-item .old-price {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #999999;
  text-decoration: line-through;
}

.catalog-item .new-price {
  font-family: "PTSsans" ,"Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  background: #ee3643;
  border-radius: 3px;
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
}

.catalog-item .new-price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}
.img {
  max-width: 100%;
  height: auto;
}
/**сетки**/
.page-header {
  min-height: 320px;
  background-color: #f4f7f9;
  box-sizing:border-box;
}

.container {
  margin:auto;
  width:940px;
  padding-left: 10px;
  padding-right: 10px;
  display:flex;
  flex-direction:row;
}

.page-header-top {
  background-color: #293449;
}

.page-header-top .container {
  margin: auto;
  width: 960px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  height: 42px;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  box-sizing: border-box;
}

.main-tehnomart-logo {
  display:flex; 
  width: 220px;
  height: 42px;
  box-shadow: 0px 5px 1px 0 #b52933;
}

.main-tehnomart-logo img {
  margin:auto;
}

.page-header-top .search {
  display: flex;
  width:270px;
  background-color: #293449;
}

.page-header-top input {
  height: 42px;
  width: 230px;
  border: none;
  padding: 5px 0 5px 40px;
  background: #293449 url("../img/icon-search.svg") no-repeat 5% 50%;
  opacity: 0.5;
  color: #293449;
}

.page-header-top label {
  
  /*position: absolute;
  top: 12px;
  left: 17px;
  z-index: 20;
  width: 20px;
  height: 20px;
  opacity: 0.5;
  background: url("../img/icon-search.svg") no-repeat;
  background-position: -106px -1px;
  cursor: pointer;

  /*position: absolute;
  top: 11px;
  left: 0;*/
}

.page-header-top .cart {
  display: flex;
  width: 470px;
  justify-content: space-between;
  margin-left: 10px;
}
.cart a {
  display: block;
}

.cart .bookmarks {
  background-image:url("../img/icon-bookmark.svg");
  background-repeat:no-repeat;
  background-position: center left;
  padding-left: 30px;
  padding-top: 12px;
  width: 150px;
}

 .cart .basket {
  background-image:url("../img/icon-cart.svg");
  background-repeat:no-repeat;
  background-position: center left;
  padding-left: 30px;
  padding-top: 12px;
  width: 150px;
}

 .cart .basket-full {
  background-image:url("../img/icon-cart.svg");
  background-repeat:no-repeat;
  background-position: left;
  padding-left: 30px;
  padding-top: 12px;
  width: 150px;
  background-color: #ee3643;
  

}

 .cart .checkout {
  padding-left: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 13px;
  background-color: #63a63e;
  width: 150px;
}
  
.header-info {
  display:flex;
  flex-direction:row;
  justify-content:center;
}

.header-info .container {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:flex-start;
  padding-top:46px;
  min-width:940px;  
 }

 .header-info .page-title {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 196px;
  padding-left: 49px;
  padding-bottom: 39px;
  margin-right: 21px;
  display: block;
  height: 60px;
}

.header-info .contacts {
  margin-left: 11px;  
}

.header-info .phone {
  display:flex;
  padding-left: 40px;
  padding-top: 13px;
  padding-bottom: 11px;
  border: 3px solid white;
  flex-basis: 270px;
  position: relative;
}

.phone::before {
  content: "";
  width: 19px;
  height: 19px;
  background-image:url("../img/icon-phone.svg");
  background-repeat:no-repeat;
  position: absolute;
  top: 13px;
  left: 10px;
}

.contacts span {
  display: block;
  padding-left: 4px;
  padding-right: 4px;
}

.header-info .account {
  display:flex;
  flex-direction:column;
}

.insaide {
  background-color: #ffffff;
  padding-top: 13px;
  padding-bottom: 11px;
  text-align: center;
  padding-left: 45px;
  margin-bottom: 10px;
  position: relative;
  padding-right: 69px;
}

.insaide::before {
  background-repeat:no-repeat;
  background-position: left center;
  background: url("../img/icon-user.svg");
  content: "";
  position: absolute;
  top: 13px;
  left: 10px;
  width: 20px;
  height: 18px;
}

.insaide::after{
  background-repeat:no-repeat;
  background-position: left center;
  background: url("../img/icon-logout.svg");
  content: "";
  position: absolute;
  top: 13px;
  left: 260px;
  width: 20px;
  height: 18px;
}


.information {
  display: flex;
  justify-content: space-evenly;
}

.information .point {
  width: 5px;
  height: 5px;
  margin-left: 10px;
  
  border-radius: 50px;
  margin-top: 5px;
}

.modal-login {
  display:flex;
  width: 300px;
}
.modal-login a {
 display: block;
 padding-bottom: 13px;
 padding-top: 12px;
}

.modal-login .login {
  position: relative;
  background-color: white;
  padding-left: 40px;
  width: 121px;
  margin-right: 10px;
}

.login::before {
  background-repeat:no-repeat;
  background-position: left center;
  background: url("../img/icon-login.svg");
  content: "";
  position: absolute;
  top: 13px;
  left: 10px;
  width: 20px;
  height: 17px;
}
/*фокус и наведение на иконку сделать*/
.login::before :focus {
  /*opacity: 0.5;*/
}

.modal-login .registration {
  background-color: white;
  width: 150px;
  padding-left: 20px;
  }

.main-navigator {
  display:flex;
  flex-direction:row;
  justify-content:center;
  padding-top: 44px;
}

.main-navigator .site-navigation {
  width:940px;
  padding:0px;
  margin:0;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  box-shadow: 0px 0px 0 0 #293449;
  background-color: #32425c;
  padding-top: 22px;
  padding-bottom: 20px;
}  

.main-about .container {
  display: flex;
  justify-content: space-between;
}

.about-company {
  display:flex;
  flex-direction:column;  
  justify-content:space-between;
  width: 519px;
  min-height: 400px;
   
}


.delivery li::before {
  /*
  content: '';
  width: 25px;
  height: 2px;
  background: #FB565A;
  position: absolute;
  */
  }

.company-info {
  width:220px; 
  text-align:center;
  margin:0; 
}

.about-contacts {
  display:flex;
  flex-direction: column;  
  justify-content: space-between;
  width: 300px;
  min-height: 400px;
}

/*каталог*/
.container-catalog {
    margin: auto;
    width: 940px;
    padding-left: 10px;
    padding-right: 10px;
}
.breadcrumbs {
  display: flex;
  background-image:url("../img/icon-home.svg");
  background-repeat:no-repeat;
  /*background-position: center left*/
  margin-bottom: 18px;
}
.breadcrumbs a:first-child {
  margin-left: 17px;
}

/*.breadcrumbs a:first-child::after {
  top: -1px;
  left: 11px;
  background-position: -379px -19px;
}*/

.breadcrumbs a:first-child::after,
.breadcrumbs a:first-child::before {
  content: "";
  /*position: absolute;
  top: 1px;
  left: -19px;
  width: 16px;
  height: 20px;
  background: url("../img/icon-right.svg");
  background-repeat: no-repeat;*/
}
.title-drill {
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 20px;
  background-color: #f2f6f8;
  margin-bottom: 20px;
  margin-ri
}

.main-footer {
  margin-top: 80px;
  background-color: #32425c;
}


.main-footer .container {
  display: flex;
  justify-content: space-between;
}

.main-footer .adress {
  margin-right: 10px;
  width: 322px;
  height: 40px;
  padding-top: 32px;
  padding-bottom: 53px;
}

.footer-nav {
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

.footer-nav-white {
 display: flex;
 justify-content: space-around;
 width: 550px;
}

.footer-nav-gold {
  display: flex;
  justify-content: space-evenly;
  width: 530px;
}

.footer-bottom {
  background-color: #293449;
  min-height: 107px;
}
.footer-social {
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding-top: 34px;
}

.footer-social ul{
  list-style:none;
  
}
.footer-copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 34px;
  margin-right: 10px;
  margin-left: 10px;
  width: 300px;
  padding-left: 60px;
}
/*.social-button {
 display: flex;
}
.social-button-vk, .ocial-button-fb, .social-button-inst {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-decoration: none;
  background: #212a3a;
  border-radius: 50px;
} */
/*
.modal {
  display: none;
}*/
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal {
  position: fixed;
  color: #000000;
  background-color: #ffffff;
  background-position: 0 0;
  
  box-shadow: 0 20px 40px 0 #000101, 0 -7px 0 0 #ee3643;
}

.modal-letter {
  top: 20%;
  left: 42%;
  margin-left: -230px;
}
.modal .popup-up-wrap {
  display: flex;
  flex-wrap: wrap;
  width:465px;
  height:332px;
 
  margin: 50px auto;
  margin-bottom:0px;
}

.modal-close {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 0;
  right: 3px;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  font-size: 0;
  background-color: red;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal .popup-name {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
}

.contact-email {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:620px;
}
.popup-name-wrap {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.popup-name-wrap label {
  padding-bottom: 13px;
  width: 220px;
}

.popup-name-wrap input {
  width: 210px;
  height: 38px;
  border: 2px solid #dee3e4;
  padding-left: 10px;
}

.email-wrap {
  display: flex;
  flex-direction: column;
  }

.email-wrap label {
  padding-bottom: 13px;
  width: 220px;
}

.email-wrap input {
  width: 210px;
  height: 38px;
  border: 2px solid #dee3e4;
  padding-left: 10px;
}

.comment-wrap {
  display: flex;
  flex-direction: column;
  }

.comment-wrap label {
  padding-bottom: 16px;
  padding-top: 20px;
  width: 96px;
}

.comment-wrap textarea {
  width: 438px;
  height: 114px;
  border: 2px solid #dee3e4;
  padding-left: 16px;
  
}

.button-popup-wrap {
  width:620px;
  height:112px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#f4f4f4;
}

.button-popup-wrap button {
  width: 460px;
  height: 38px;
  background-color: #ee3643;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
}
/*===========Catalog popup============*/
.catalog .popup-up-wrap {
  display: flex;
  justify-content:center;
  align-items:center;
  width:620px;
  height: 120px;
 
  margin: 0px auto;
  margin-bottom:0px;
}

.popup-up-wrap .goods-basket{
   
    font-family: Cuprum;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #000000; 
    margin-left:32px;
}

.button-popup-wrap .popup-order {
  width: 220px;
  
}

.button-popup-wrap .popup-continue{
  width:220px;
  background-color:#ffffff;
  color:#000000;
  margin-left:20px;
}

